* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 48px 64px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 68px;
    height: 68px;
  }
}

@media (max-width: 465px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .logo {
    h1 {
      font-size: 24px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 6px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
}

.share-fact-form {
  background-color: #44403c;
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.3s;

  input,
  select {
    width: 220px;
    border: none;
    background-color: #78716c;
    border-radius: 100px;
    padding: 16px;
    color: inherit;
    font-family: inherit;

    &::placeholder {
      color: #a8a29e;
    }

    &:first-child {
      flex-grow: 1;
    }
  }

  span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 18px;
  }

  .btn-post {
    margin-left: auto;
    width: 150px;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .share-fact-form {
    flex-direction: column;
    align-items: stretch;

    input,
    select {
      width: auto;
    }

    .btn-post {
      width: auto;
      margin-left: 0;
    }
  }
}

#share-fact-btn {
  width: 230px;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }
}

.fact {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 16px;
  letter-spacing: -1px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.fact-tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', sans-serif;
  border-radius: 10px;
  padding: 3px 10px 0;
}

.vote-buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;

  button {
    border: none;
    background-color: #78716c;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600px;
    padding: 6px 12px;
    border-radius: 100px;
    display: flex;
    gap: 8px;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #292524;
    }
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 2px;
  transition: 0.3s;
}

.source:hover {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 50px;

  &:hover {
    transform: scale(110%) rotateZ(-2deg);
  }
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

@media (max-width: 900px) {
  .btn-large {
    font-size: 18px;
  }
}

.btn-all-categories {
  margin-bottom: 20px;
  width: 100%;
}

.btn-category {
  background-image: none;
  width: 100%;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
